node_modules
node_modules/*
npm-debug.log

*.pem
.env
local.js
CHRT Client VPN_ins-00133a3dde6387ec.xml
CHRT Client VPN - Self Service_ins-29794695d770ebc7.xml
cvpn-endpoint-086725c604f860526.ovpn

client_secret*